* {
     @include sizing();
     margin: 0px; 
     padding: 0px;
     outline:none;
    -webkit-appearance: none;
     font-family: GothamPro, sans-serif;
     font-weight: 400;
     line-height: 1;
}

body{
     background-color: $fonColor;
     color: $color_main;
}
html, body {
     height: 100%;
}

input, textarea, select, button {
     outline: none;
}
form {
     @include block();
}
img {
     @include inline_block(); 
     border: none; 
}
a {
     @include inline_block(); 
     text-decoration: none;
}


.total-container {
     @include block();
     min-width: 800px;
     margin-left: auto;
     margin-right: auto;
}




/*
.titleBox {
     @include inline_block(); 
     width: 100%;

     @media (max-width: $screen_sm) {
          text-align: center;
     }
     
     h1, h2 {
          @include block();
          font-size: 26px;
          line-height: 31px;
          margin-bottom: 16px;
          
          
          @media (max-width: $screen_sm) {
               text-align: center;
          }
     }
     
     h5 {
          @include block();
          font-size: 16px;
          font-weight: 500;
          line-height: 22px;
          margin-bottom: 9px;
          
          @media (max-width: $screen_sm) {
               text-align: center;
          }
     }
     
     p {
          @include block();
          font-size: 14px;
          line-height: 18px;
          color: #5c5c5c;
          line-height: 20px;
          margin-bottom: 10px;
          
          b {
               @include inline_block(); 
               font-size: inherit;
               font-weight: 500;
               line-height: inherit;
               color: inherit;
          }
          
          @media (max-width: $screen_sm) {
               text-align: center;
          }
     }
     
     &--popular {
          @media (max-width: $screen_sm) {
               margin-top: 20px;
          }
     }
     
     .button {
          margin-top: 23px;
          
          &--all {
               position: absolute;
               top: 2px;
               right: 0px;
               margin: 0px;
               
               @media (max-width: $screen_sm) {
                    display: none;
               }
          }
     }
}




.button {
     @include inline_block(top, center); 
     @include gradient($gradient_orange_before, $gradient_orange_from, 1);
     @include shadow(0px, 0px, 10px, 0px, rgba(248,76,13, .35));
     @include transition_Own(all);
     min-width: 255px;
     min-height: 41px;
     padding: 11px 20px;
     font-size: 16px;
     font-weight: 500;
     line-height: 18px;
     color: #fafafa;

     &:hover {
          @include shadow(0px, 0px, 15px, 0px, rgba(248,76,13, .8));
          @include gradient($gradient_orange_from, $gradient_orange_before, 1);
     }
     &:active {
          @include gradient($gradient_orange_before, $gradient_orange_before, 1);
     }
     
     &--blue {
          @include gradient($gradient_blue_before, $gradient_blue_from, 1);
          @include shadow(0px, 0px, 10px, 0px, rgba(48,48,56, .35));
          
          &:hover {
               @include shadow(0px, 0px, 18px, 0px, rgba(48,48,56, .6));
               @include gradient($gradient_blue_from, $gradient_blue_before, 1);
          }
          &:active {
               @include gradient($gradient_blue_before, $gradient_blue_before, 1);
          }
     }
     
     &--emptyBlue {
          @include gradient(transparent, transparent, -1);
          -webkit-box-shadow: 0px 0px 0px 2px #4c53db inset, 0px 0px 10px 0px rgba(48,48,56, .4);
          -moz-box-shadow: 0px 0px 0px 2px #4c53db inset, 0px 0px 10px 0px rgba(48,48,56, .4);
          box-shadow: 0px 0px 0px 2px #4c53db inset, 0px 0px 10px 0px rgba(48,48,56, .4);
          color: $color_blue;
          
          &:hover {
               @include gradient($gradient_blue_from, $gradient_blue_before, 1);
               @include shadow(0px, 0px, 18px, 0px, rgba(48,48,56, .6));
               color: $color_white;
          }
          &:active {
               @include gradient($gradient_blue_before, $gradient_blue_before, 1);
               color: $color_white;
          }
     }
     
     &--emptyWhite {
          @include gradient(transparent, transparent, -1);
          @include shadow(0px, 0px, 0px, 2px, #fff, 1);
          min-width: 156px;
          min-height: 34px;
          padding: 9px 25px;
          font-size: 14px;
          line-height: 16px;
          
          &:hover {
               @include shadow_none();
          }
          &:active {
               @include shadow_none();
          }
     }
     
     &--all {
          @include gradient(transparent, transparent, -1);
          @include shadow(0px, 0px, 0px, 2px, #fa550f, 1);
          min-width: 102px;
          min-height: 27px;
          font-size: 12px;
          line-height: 14px;
          color: $gradient_orange_before;
          padding: 7px 10px;
          
          @media (max-width: $screen_sm) {
               min-width: 255px;
               min-height: 41px;
               padding: 11px 20px;
               font-size: 16px;
               font-weight: 500;
               line-height: 18px;
          }
          
          &:hover {
               @include shadow(0px, 0px, 15px, 0px, rgba(248,76,13, .5));
               color: #fff;
          }
     }
     
     &--entrance {
          @include gradient(transparent, transparent, -1);
          @include shadow(0px, 0px, 0px, 2px, #4c53db, 1);
          min-width: 87px;
          margin-left: 25px;
          color: $color_main;
          
          @media (max-width: $screen_sm) {
               min-width: 45px;
               margin-left: 0px;
          }
          
          &:hover {
               @include shadow(0px, 0px, 10px, 0px, rgba(48,48,56, .5));
               @include gradient($gradient_blue_from, $gradient_blue_before, 1);
               color: $color_white;
          }
          &:active {
               @include gradient($gradient_blue_before, $gradient_blue_before, 1);
               color: $color_white;
          }
     }
     
     &--reg {
          min-width: 113px;
          margin-left: 23px;
          
          @media (max-width: $screen_sm) {
               min-width: 75px;
               margin-left: 1px;
          }
          
          &:hover {
               @include shadow(0px, 0px, 10px, 0px, rgba(248,76,13, .8));
          }
     }
     
     &--entrance, &--reg {
          min-height: 35px;
          padding: 9px 10px;
          margin-top: 10px;
          font-size: 14px;
          line-height: 16px;
          
          @media (max-width: $screen_sm) {
               min-height: 28px;
               margin-top: 9px;
               font-size: 9px;
               line-height: 12px;
               padding: 8px 6px;
          }
     }
     
     &-video {
          @include inline_block(); 
          @include radius(1000px);
          @include transition_Own(all);
          @include gradient($gradient_purple_from, $gradient_purple_before, 1);
          @include shadow(0px, 0px, 18px, 0px, rgba(0,0,0, .4));
          padding: 4px;
          cursor: pointer;
          
          &:before {
               @include block(); 
               @include radius(1000px);
               @include gradient($gradient_blue_from, $gradient_blue_before, 1);
               @include size(72px, 72px); 
               content: '';
          }
          &:after {
               @include position(absolute, 50%, 50%, 24px, 30px);
               @include image('icon-play.svg');
               background-size: contain;
               content: '';
               margin: -15px 0px 0px -9px;
          }
          
          &:hover {
               @include shadow(0px, 0px, 20px, 0px, rgba(0,0,0, .5));
               
               &:before {
                    @include gradient($gradient_blue_before, $gradient_blue_from, 1);
               }
          }
          &:active {
               &:before {
                    @include gradient($gradient_blue_before, $gradient_blue_before, 1);
               }
          }
     }
     
     &-arrow {
          @include inline_block(); 
          @include radius(1000px);
          @include shadow(0px, 0px, 18px, 0px, rgba(48,48,56, .15));
          background-color: #d8d8d8;
          padding: 4px;
          cursor: pointer;
     
          &:before {
               @include position(absolute, 0px, 0px, 100%, 100%);
               @include radius(1000px);
               @include gradient($gradient_purple_from, $gradient_purple_before, 1);
               @include transition_Own(opacity);
               content: '';
               opacity: 0;
          }
          &:after {
               @include block(); 
               @include radius(1000px);
               @include size(30px, 30px);
               @include image('icon-arrow.png', 9px 13px);
               background-color: #fff;
               content: '';
          }
          
          &--left:after {
               @include rotate(90deg);
          }
          &--right:after {
               @include rotate(-90deg);
          }
          
          &:hover {
               &:before {
                    opacity: 1;
               }
               &:after {
                    background-position: 9px -37px;
               }
          }
     
          &:active {
               &:before {
                    @include gradient($gradient_purple_from, $gradient_purple_from, 1);
               }
          }
     }
}
*/

