* {
     box-sizing: border-box;
     margin: 0px; 
     padding: 0px;
     outline:none;
    -webkit-appearance: none;
}

body{
     background-color: $fonColor;
     color: $color_main;
}
html, body {
     height: 100%;
}

input, textarea, select, button {
     outline: none;
}
form {
     position: relative;
     display: block;
}
img {
     position: relative;
     display: inline-block;
     vertical-align: top;
     border: none; 
}
a {
     position: relative;
     display: inline-block;
     vertical-align: top;
     text-decoration: none;
}


.total-container {
     position: relative;
     display: block;
     padding: 50px 0px;
}