.rules {
     @include block();
     width: 840px;
     min-width: 320px;
     margin-left: auto;
     margin-right: auto;

     @media (max-width: $screen_lg) {
          width: $screen_sm;
     }
     @media (max-width: $screen_sm) {
          width: auto;
     }
     
     &__title {
          @include block();
          padding: 0px 10px;
          margin-bottom: 21px;
          
          @media (max-width: $screen_sm) {
               margin-bottom: 14px;
          }
          @media (max-width: $screen_xs) {
               margin-bottom: 16px;
          }
          
          h1, h2 {
               @include block();
               font-family: GothamPro, sans-serif;
               font-size: 40px;
               font-weight: 900;
               line-height: 40px;
               color: $color_main;
               
               @media (max-width: $screen_sm) {
                    font-size: 32px;
               }
               @media (max-width: $screen_xs) {
                    font-size: 28px;
                    line-height: 34px;
               }
          }
     }
     
     &__text {
          @include block();
          padding: 0px 10px;
          
          h3 {
               @include block();
               margin: 33px 0px 15px 0px;
               font-family: GothamPro, sans-serif;
               font-size: 18px;
               font-weight: 900;
               line-height: 26px;
               color: $color_main;
               
               @media (max-width: $screen_sm) {
                    margin: 21px 0px 15px 0px;
                    font-size: 15px;
                    line-height: 20px;
               }
               @media (max-width: $screen_xs) {
                    margin: 20px 0px 17px 0px;
                    font-size: 14px;
               }
          }
          
          p {
               @include block();
               margin-bottom: 16px;
               font-family: GothamPro, sans-serif;
               font-size: 14px;
               font-weight: 400;
               line-height: 24px;
               color: $color_main;
               
               @media (max-width: $screen_xs) {
                    font-size: 13px; 
               }
          }
          
          ol {
               @include block();
               
               li {
                    @include block();
                    padding-left: 47px;
                    
                    @media (max-width: $screen_xs) {
                         padding-left: 43px;
                    }
                    
                    b {
                         position: absolute;
                         top: 4px;
                         left: 0px;
                         font-family: GothamPro, sans-serif;
                         font-size: 16px;
                         font-weight: 700;
                         line-height: 16px;
                         color: $color_main;
                         
                         @media (max-width: $screen_xs) {
                              top: 3px;
                              font-size: 13px;
                         }
                    }
               }
          }
          
          > ol > li {
               padding-left: 57px;
               
               @media (max-width: $screen_sm) {
                    padding-left: 50px;
               }
               @media (max-width: $screen_xs) {
                    padding-left: 35px;
               }
          }
     }
}