$path_img: '../images/';

$screen_lg: 1440px;
$screen_md: 980px;
$screen_sm: 768px;
$screen_xs: 500px;



$fonColor: #fff;
$color_main: #1D1C2B;


$GothamPro:         'GothamPro';
$GothamPro_Regular: 'GothamPro-Regular';
$GothamPro_Medium:  'GothamPro-Medium';
$GothamPro_Bold:    'GothamPro-Bold';
$GothamPro_Black:   'GothamPro-Black';


$fonts_path: '../fonts/';
$font_main: sans-serif;
$font_home: $GothamPro_Regular;